<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
          <br>
          <h1>Here will be register... later</h1>
      </div>
      <div id="content-div">
        <div id="login">
        <label for="userId"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="userId" required>
          <br>
        <label for="userPassword"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="userPassword" required>           
          <input type="submit" class="button" value="Login" id="login-button-container">
        </div>
      </div>
    </div>
  </div>