<div id="root-div">
  <div id="sidebar-div">
    <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
  </div>
  <div id="main-div">
    <div id="header-div"> 
        <app-header [headerTitle]="headerTitle" [headerLogout]="false"></app-header>
    </div>
    <div id="content-div">
      <div id="register">
      <!-- TOGGLE -->
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner" (click)="setUser(false)"></span>
              <span class="onoffswitch-switch" ></span>
          </label>
      </div>
      <!-- TOGGLE -->
        <div>
          <button (click)="setUser(false)">Teacher</button>
          <button (click)="setUser(true)">Student</button>
        </div>
        <form [formGroup]="registerStudentForm" *ngIf="isStudent">
          <div id="input-items">
            <div id="left-items">
              <label for="studentFirstName"><b>First name</b></label><br>
              <input type="text" placeholder="Enter First Name" formControlName="studentFirstName" required><br>
              
              <label for="studentId"><b>ID</b></label><br>
              <input type="text" placeholder="Enter ID" formControlName="studentId" required><br>
              
              <label for="studentSchool"><b>School</b></label><br>
              <input type="text" placeholder="Enter School" formControlName="studentSchool" required><br>

              <label for="studentClass"><b>Class</b></label><br>
              <input type="text" placeholder="Enter Class" formControlName="studentEmail" required><br>

            </div>
            <div id="right-items">
              <label for="studentLastName"><b>Last name</b></label><br>
              <input type="text" placeholder="Enter Last Name" formControlName="studentLastName" required><br>
              
              <label for="studentEmail"><b>Email</b></label><br>
              <input type="email" placeholder="Enter Email" formControlName="studentEmail" required><br>
                      
              <label for="studentPassword"><b>Password</b></label><br>
              <input type="password" placeholder="Enter Password" formControlName="studentPassword" required><br> <br>
              
              <input type="submit" class="button" value="Register" id="login-button-container" (click)="submit()">
            </div>
          </div>
        </form>
        <form [formGroup]="registerTeacherForm" *ngIf="!isStudent">
          <div id="input-items">
            <div id="left-items">
              <label for="teacherFirstName"><b>First name</b></label><br>
              <input type="text" placeholder="Enter First Name" formControlName="teacherFirstName" required><br>
              
              <label for="teacherId"><b>ID</b></label><br>
              <input type="text" placeholder="Enter ID" formControlName="teacherId" required><br>
              
              <label for="teacherSchool"><b>School</b></label><br>
              <input type="text" placeholder="Enter School" formControlName="teacherSchool" required><br>

              <label for="teacherSubject"><b>Subject</b></label><br>
              <input type="text" placeholder="Enter Subject" formControlName="teacherSubject" required><br>

            </div>
            <div id="right-items">
              <label for="teacherLastName"><b>Last name</b></label><br>
              <input type="text" placeholder="Enter Last Name" formControlName="teacherLastName" required><br>
              
              <label for="teacherEmail"><b>Email</b></label><br>
              <input type="email" placeholder="Enter Email" formControlName="teacherEmail" required><br>
                      
              <label for="teacherPassword"><b>Password</b></label><br>
              <input type="password" placeholder="Enter Password" formControlName="teacherPassword" required><br> <br>
              
              <input type="submit" class="button" value="Register" id="login-button-container" (click)="submit()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
