<div id="content-container">
  <div id="take-form">
    <div class="form-item">
      <p class="heading">{{selectedDTO.assignmentName}}</p>
    </div>
    <div class="form-item">
      <p class="subheading">{{selectedDTO.course}} {{ selectedDTO.assignmentType }} by {{selectedDTO.teacherName}}</p>
    </div>
    <div class="form-item">
      <p class="subheading">Please complete by {{ selectedDTO.dueDate}} {{ selectedDTO.dueTime }}</p>
    </div>
    <div *ngFor="let question of selectedDTO.questionContent">
        <div class="form-item questions-div">
          <div class="question"> 
            <p>{{question.questionString}}</p>
          </div>
          <div>
            <p>{{question.maxPoints}} points</p>
          </div>
        </div>
        <div class="form-item">
          <textarea rows="10" columns="100" placeholder="Enter Answer Here."></textarea>
        </div>
    </div>
    <!--
    <div>
        <div class="form-item questions-div">
          <div class="question"> 
            <p>What is Wrapper Class?</p>
          </div>
          <div>
            <p>30 points</p>
          </div>
        </div>
        <div class="form-item">
          <textarea rows="10" columns="100" placeholder="Enter Answer Here."></textarea>
        </div>
    </div>
    <div>
        <div class="form-item questions-div">
          <div class="question"> 
            <p>What is an Enum?</p>
          </div>
          <div>
            <p>30 points</p>
          </div>
        </div>
        <div class="form-item">
          <textarea rows="10" columns="100" placeholder="Enter Answer Here."></textarea>
        </div>
    </div>
    -->
    <div class="form-item">
      <button routerLink = "/student-take-dashboard" >Submit</button>
    </div>
  </div>
</div>
