

<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
        <app-header></app-header>
      </div>
      <div id="content-div">
<div id="content-container">
    <div id="take-form">
      <div class="header-item">
        <p class="heading">Object-Oriented Programming</p>
      </div>
      <div class="header-item">
        <p class="subheading">Java {{ assignment.assignmentType }} by Annabeth Chase</p>
      </div>
      <div class="header-item">
        <p class="subheading">Student: Percy Jackson</p>
      </div>
      <div class="header-item">
        <p class="subheading">Completed on {{ assignment.completionDate.date }} {{ assignment.completionDate.time }}</p>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>List and explain the four pillars of Object Oriented Programming.</p>
            </div>
            <div>

              <p><input type="number" placeholder="Points" min="0" step="0.1" ng-model="q1"> / 40 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Interface, Polymorphism, Abstraction and Encapsulation" ></textarea>
            <textarea  rows="5" columns="100" placeholder="Type Your Comment.." id="comment"></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is Wrapper Class?</p>
            </div>
            <div>
              <p><input type="number" placeholder="Points" min="0" step="0.1" ng-model="q2"> / 30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Way to use primitive data types as objects"></textarea>
            <textarea  rows="5" columns="100" placeholder="Type Your Comment.." id="comment"></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is an Enum?</p>
            </div>
            <div>
              <p><input type="number" placeholder="Points" min="0" step="0.1" ng-model="q3"> / 30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Group of constans"></textarea>
            <textarea  rows="5" columns="100" placeholder="Type Your Comment.." id="comment"></textarea>
          </div>
      </div>
      <div class="header-item">
        <button>Submit Grade</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>