<div id="content-container">
    <form id="content-form" [formGroup]="createAssignmentForm">
      <div class="form-element">
        <label>Choose Assignment Type</label>
      </div>
      <div class="form-element"> 
        <select class="select" formControlName="assignmentType">
          <option [ngValue]="null" disabled>Choose Assignment Type</option>
          <!-- <option value="" disabled selected hidden id="disabled">Choose Assignment Type</option> -->
          <option [ngValue]="'Homework'">Homework</option>
          <option [ngValue]="'Exam'">Exam</option>
          <option [ngValue]="'Project'">Project</option>
        </select>
      </div>
      <div class="form-element">
        <label>Assignment Title</label>
      </div>
      <div class="form-element">
        <input type="text" placeholder="Enter Assignment Title" class="text-input" formControlName="assignmentTitle">
      </div>
      <div class="form-element">
        <label>Assign To Class</label>
      </div>
      <div class="form-element"> 
        <select class="select" formControlName="assignToClass">
          <option [ngValue]="null" disabled>Choose Class</option>
          <!-- <option value="" disabled selected>Choose Class</option> -->
          <option [ngValue]="'1-201'">1-201</option>
          <option [ngValue]="'2-201'">2-201</option>
          <option [ngValue]="'4-201'">4-201</option>
        </select>
      </div>
      <div class="form-element">
      <label  for="dueDate">Due Date:</label>
    </div>
    <div class="form-element">
      <input type="date" formControlName="dueDate" name="dueDate">
    </div>
    <div class="form-element">
    <label for="time" id="time">Select a time:</label>
    </div>
    <div class="form-element">
  <input type="time" formControlName="dueDate" name="time">
  </div>

      <div class="form-element">
        <label>Questions</label>
      </div>
      <div *ngFor="let i of questions" class="form-element">
        <input type="text" placeholder="Enter Your Question Here" class="question" formControlName="question{{i}}">
        <input type="text" placeholder="Points" class="point" formControlName="point{{i}}">
        <button (click)="removeQuestion(i)">X</button> 
      </div>
      <div class="form-element">
        <button (click)="addQuestion()">Add Question</button>
      </div>
      <div class="form-element">     
        <button (click)="onSubmit()">Create Assignment</button>
      </div>
    </form>
    
</div>
