#content-container {
  padding: 2rem;
}

#content-form {
  background-color: white;
  padding: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color:#63351E;
  text-align: center;
  overflow: auto;
}

label {
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: bold;
}

#time{
  padding-left: 2em;
}


.form-element {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.select {
  display: block;
  padding: 0.5rem; 
  font-size: 1rem;
  width: 22rem;
}

.text-input {
  display: block;
  padding: 0.5rem; 
  font-size: 1rem;
  width: 20rem;
}

.question {
  display: block;
  padding: 0.5rem; 
  font-size: 1rem;
  flex: 1 1 0%;  
}

.point {
  display: block;
  padding: 0.5rem; 
  margin-left: 1rem; 
  font-size: 1rem;
  width: 5rem;   
}

button {
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #eeeeee;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(109, 109, 109);
  opacity: 1; /* Firefox */
}

select:required:invalid {
  color: #666;
}
option[value=""][disabled] {
  display: none;
  color: gray;
}


::-webkit-datetime-edit { padding: 1em 5em 1em 5em}; 
::-webkit-inner-spin-button { display: none; }