<div id="sidebar">
  <div id="logo">
    <img src="../../../assets/Pictures/download (7).gif" alt="Revature School" style="height:108.4px;">
    </div>
    <!-- <div class="sidebar-option selected">
      <h3>Completed Assignments</h3>
    </div>
    <div class="sidebar-option">
      <h3>Graded Assignments</h3>
    </div>
    <div class="sidebar-option">
      <h3>Create an Assignment</h3>
    </div> -->

    <div class="sidebar-option" *ngFor="let option of sidebarOptions" routerLink={{option.link}} [class.selected]="option.selected">
      <!-- routerLink={{option.link}} -->
        <h3>{{option.name}}</h3>
    </div>


</div>

