#sidebar {
  background: url("https://sun6-19.userapi.com/XWCbbQbT8b7LKWYA6BHbTm3ERVvSmUmcP4qsNA/7yNIGppSL_E.jpg");
  height: 100%;
  width: 18rem;
  
} 
  
#sidebar h1, #sidebar h3 {
  color: white;
}

#logo {
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

#logo img {
  height: 5.5rem;
  width: 18rem;
}
  
.sidebar-option {
  text-align: center;
  padding: 1.5rem 2rem;
  border-left-style: solid;
  border-left-width: 3px;
  /* border-left-color: #000033; */
}

.sidebar-option:hover, .selected {
  background-color: #0F261B;
  opacity: 0.7;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #eeeeff;
  cursor: pointer;
}


