<div id="content">        
  <!-- <div id="content-greeting">
    <p>Hello, {{listOfAssignments[0].studentName}}!</p>
  </div> -->
  <ul id="list">
    <li *ngFor="let assignment of dtoList" (click)="onClick(assignment)" routerLink ="{{route(assignment)}}">

      <div class="left-info" *ngIf="viewer === 'Student'">
        <p class="name">{{assignment.course}} {{assignment.assignmentType}}</p>
        <p class="detail"> {{assignment.assignmentName}} ● {{assignment.teacherName}}</p>
      </div>
      <div class="left-info" *ngIf="viewer === 'Teacher'">
        <p class="name">{{assignment.course}} {{assignment.assignmentType}}</p>
        <p class="detail"> {{assignment.assignmentName}} ● {{assignment.studentName}}</p>
      </div>
      <div class="right-info" *ngIf="assignment.assignmentStatus === 'NEW'">
          <p class="label">Due Date</p>
          <p class="value">{{assignment.dueDate}} {{assignment.dueTime}}</p>
      </div>
      <div class="right-info" *ngIf="assignment.assignmentStatus === 'COMPLETED'">
          <p class="label">Completion Date</p>
          <p class="value">{{assignment.completionDate}} {{assignment.completionTime}}</p>
      </div>
      <div class="right-info" *ngIf="assignment.assignmentStatus === 'GRADED'">
          <p class="label">Grade</p>
          <p class="value">{{assignment.grade}}</p>
      </div>
    </li>

    <!-- <li>
      <p class="name">Assignment Name 1</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 2</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 3</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 4</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 5</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 6</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 7</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 8</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 9</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 10</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 11</p>
      <p class="student">Student Name</p>
    </li> -->
  </ul>
</div>
