#content {
  
}

#content-greeting {
  padding: 2rem 2rem;  
}

#content-greeting p {
  font-size: 2rem;
}

#list {
  list-style-type: none;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0;
}

#list li {
  background-color: white;
  display: flex;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: #ccccff; 
}

#list li:hover {
  cursor: pointer;
  border-color: #9999ff; 
}

.name {
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.detail {
  font-size: 1rem;
  text-indent: 1rem;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 1rem;
}

.left-info {
  flex: 1 1 0%;
  text-align: left;
}

.right-info {
  text-align: center;
}


