<div id="content">        
  <div id="content-greeting">
    <p>Hello, Teacher Name</p>
  </div>
  <ul id="list">
    <li>
      <p class="name">Assignment Name 1</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 2</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 3</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 4</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 5</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 6</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 7</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 8</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 9</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 10</p>
      <p class="student">Student Name</p>
    </li>
    <li>
      <p class="name">Assignment Name 11</p>
      <p class="student">Student Name</p>
    </li>
  </ul>
</div>
