<div id="content">
        <div id="content-greeting">
          <p>Hello, Teacher Name</p>
        </div>
        <ul id="list">
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
          <li>
            <p class="name">Assignment Name</p>
            <p class="student">Student Name</p>
          </li>
        </ul>
      </div>
