<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
          <br>
          <h1>Welcome</h1>
      </div>
      <div id="content-div">
        <div id="login">
        Your ID <input type="text" name="userId"> <br/><br/> 
        Password <input type="password" name="userPass"> <br/><br/> 
        <div id="login-button-container">
          <input type="submit" class="button" value="Login">
        </div>
       </div>
      </div>
    </div>
  </div>