<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
          <app-header [headerTitle]="headerTitle" [headerLogout]="false"></app-header>
      </div>
      <div id="content-div">
        <form id="login" [formGroup]="loginForm">
          <label for="userId"><b>Your ID</b></label><br>
          <input type="text" placeholder="Enter ID" formControlName="userId" required>
          <br>
          <label for="userPassword"><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" formControlName="userPassword" required>           
          <input type="submit" class="button" value="Login" id="login-button-container" (click)="submit()">
        </form>
      </div>
    </div>
  </div>