#root-div {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #main-div {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1ff;
    overflow: hidden;
    height: 100%;
  }
  
  #header-div {
    background-color: white;
    text-align: center;
    color: #000033;
  }
  
  #content-div {
    overflow: auto;
   
    display: flex;
    justify-content: center;
  }

  #login-button-container {
    display: flex;
    justify-content: center;
  }

  .button {
    padding: 0.5rem;
    background-color: turquoise;
    font-size: 1.25rem;
  }

  #login{
    margin-top: 7rem;
    background-color: white;
    padding: 2rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color:  #000033;
  }
  
  
  #sidebar-div {
    background-color: #000033;
    height: 100%;
    overflow: hidden;
  } 
  