#header {
  display: flex;
  justify-content: space-between;
  background-image: url("https://sun6-13.userapi.com/q1qdlucjX5-xS7_UydF-83Z9oX2dUL6LRcAhAQ/YVdyXILv33s.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0F261B; 
}
  
#header-account {
  /* padding: 2rem 1.5rem; */
  text-align: center;
}
  
#header-account p {
  font-size: 1rem;
}

#header-account:hover {
  cursor: pointer;
}

#header-title {
  flex: 1 1 0%;
  padding: 1.5rem 1rem;
  text-align: center;
}

#header-title p {
  font-size: 2rem;
}

