<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
        <app-header></app-header>
      </div>
      <div id="content-div">
<div id="content-container">
    <div id="take-form">
      <div class="header-item">
        <p class="heading">{{selectedDTO.assignmentName}}</p>
      </div>
      <div class="header-item">
        <p class="subheading">{{selectedDTO.course}} {{ selectedDTO.assignmentType }} by {{selectedDTO.teacherName}}</p>
      </div>
      <div class="header-item">
        <p class="subheading">Student: {{selectedDTO.studentName}}</p>
      </div>
      <div class="header-item">
        <p class="subheading">Graded on {{ selectedDTO.gradedDate }} {{ selectedDTO.gradedTime }}</p>
      </div>
      <div *ngFor="let question of selectedDTO.questionContent">
          <div class="form-item questions-div">
            <div class="question"> 
              <p>{{question.questionString}}</p>
            </div>
            <div>

              <p><span id="grade">{{question.questionPoints}}</span> / {{question.maxPoints}} points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="{{question.answer}}" ></textarea>
            <textarea readonly rows="5" columns="100" placeholder="{{question.comment}}" id="comment"></textarea>
          </div>
      </div>
      <!--
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is Wrapper Class?</p>
            </div>
            <div>
              <p><span id="grade">30</span> / 30</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Way to use primitive data types as objects"></textarea>
            <textarea readonly rows="5" columns="100" placeholder="Excellent!" id="comment"></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is an Enum?</p>
            </div>
            <div>
              <p><span id="grade">30</span> / 30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Group of constans"></textarea>
            <textarea readonly rows="5" columns="100" placeholder="Good!" id="comment"></textarea>
          </div>
        -->

      <div class="header-item">
        <p class="subheading">Grade is {{selectedDTO.grade}}</p>
      </div>
      <div class="header-item">
        <button routerLink = "/student-graded-dashboard">Go back</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>