#root-div {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#main-div {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background-image: url("https://sun6-16.userapi.com/1UGv996hg7Z-hLRIJShEcYM1dalw8HKlOahTGg/Q_DpiBiUV0w.jpg");
  overflow: hidden;
  height: 100%;
}

#header-div {
}

#content-div {
  overflow: auto;
}


#sidebar-div {
  background-color: #000033;
  height: 100%;
  overflow: hidden;
} 
