<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
        <app-header></app-header>
      </div>
      <div id="content-div">
<div id="content-container">
    <div id="take-form">
      <div class="form-item">
        <p class="heading">Object-Oriented Programming</p>
      </div>
      <div class="form-item">
        <p class="subheading">Java {{ assignment.assignmentType }} by Annabeth Chase</p>
      </div>
      <div class="form-item">
        <p class="subheading">Student: Percy Jackson</p>
      </div>
      <div class="form-item">
        <p class="subheading">Completed by {{ assignment.dueDate.date }} {{ assignment.dueDate.time }}</p>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>List and explain the four pillars of Object Oriented Programming.</p>
            </div>
            <div>
              <p>40 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Interface, Polymorphism, Abstraction and Encapsulation" ></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is Wrapper Class?</p>
            </div>
            <div>
              <p>30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Way to use primitive data types as objects"></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is an Enum?</p>
            </div>
            <div>
              <p>30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Group of constans"></textarea>
          </div>
      </div>
      <div class="form-item">
        <button>Go back</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>