<div id="root-div">
    <div id="sidebar-div">
      <app-sidebar [sidebarOptions]="sidebarOptions"></app-sidebar>
    </div>
    <div id="main-div">
      <div id="header-div"> 
        <app-header></app-header>
      </div>
      <div id="content-div">
<div id="content-container">
    <div id="take-form">
      <div class="form-item">
        <p class="heading">{{selectedDTO.assignmentName}}</p>
      </div>
      <div class="form-item">
        <p class="subheading">{{selectedDTO.course}} {{ selectedDTO.assignmentType }} by {{selectedDTO.teacherName}}</p>
      </div>
      <div class="form-item">
        <p class="subheading">Student: {{selectedDTO.studentName}}</p>
      </div>
      <div class="form-item">
        <p class="subheading">Completed by {{ selectedDTO.dueDate }} {{ selectedDTO.dueTime }}</p>
      </div>
      <div *ngFor="let question of selectedDTO.questionContent">
          <div class="form-item questions-div">
            <div class="question"> 
              <p>{{question.questionString}}</p>
            </div>
            <div>
              <p>{{question.maxPoints}} points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="{{question.answer}}" ></textarea>
          </div>
      </div>
      <!--
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is Wrapper Class?</p>
            </div>
            <div>
              <p>30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Way to use primitive data types as objects"></textarea>
          </div>
      </div>
      <div>
          <div class="form-item questions-div">
            <div class="question"> 
              <p>What is an Enum?</p>
            </div>
            <div>
              <p>30 points</p>
            </div>
          </div>
          <div class="form-item">
            <textarea readonly rows="5" columns="100" placeholder="Group of constans"></textarea>
          </div>
      </div>
    -->
      <div class="form-item">
        <button routerLink = "/student-completed-dashboard">Go back</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>